<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="container">
        <div class="full-width">
            <h3>INTO SERVICES</h3>
        </div>
        <nav>
            <ul>
                <li><a href="#" class="active">HOME</a></li>
                <li><a href="#">ABOUT</a></li>
                <li><a href="#">PRODUCT</a></li>
                <li><a href="#">SERVICE</a></li>
                <li><a href="#">POTOFOLIO</a></li>
                <li><a href="#">CONTACT</a></li>
            </ul>
        </nav>
        <div class="full-width margin-top20px">
            <div class="col-7">
                <div class="post">
                    <h1>what is lorem ipsum?</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex eius suscipit magnam fugit autem.
                        Molestias totam magnam facere rerum inventore magni unde cumque laborum, temporibus autem
                        eligendi id assumenda omnis voluptatibus sapiente quis sint quidem. Mollitia reiciendis quae, in
                        fugit natus dolores ducimus autem eaque rem nostrum quod odit culpa!
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit voluptas deleniti dolore saepe a in
                        cumque asperiores aliquid nobis minima. Repellendus sed omnis expedita vero accusamus adipisci
                        aliquam magnam. Voluptas, minus rerum tempora illum illo dicta nemo atque praesentium, accusamus
                        at excepturi beatae similique non esse sed, laudantium reiciendis? Ab!</p>
                    </p>
                </div>
                <div class="post margin-top20px">
                    <h2>why do we use it?</h2>
                    ;Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique inventore quo unde in veritatis
                    velit! Modi, quisquam! Accusantium tempora soluta ducimus eum nam, repellat adipisci incidunt vero
                    rerum voluptatem natus provident cupiditate inventore pariatur eius non enim officiis corrupti
                    exercitationem!
                </div>
            </div>
            <div class="col-3">
                <h2>side bar</h2>
                <ul>
                    <li>newbar</li>
                    <li>newbar</li>
                    <li>newbar</li>
                    <li>newbar</li>
                    <li>newbar</li>
                    <li>newbar</li>
                    <li>newbar</li>
                    <li>newbar</li>
                    
                </ul>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="full-width">
            <h2 class="footer">@copyright 2022</h2>
        </div>

    </div>
</body>

</html>